body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #1f6e8f;
}

header {
    background-color: #f5f5f5;
    background-image: url("images/logo.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    width: auto;
    padding: 2em;
   
}

    header h1 {
        color: #09a0e0;
        font-size: 10rem,
    }

h2, p {
    text-align: center;
}

.reverse {
    background-color: #1f6e8f;
    color: #f5f5f5;
}
a {
    float: right;
    padding: 0.5em;
    color: #1f6e8f;
    text-decoration: none;
}



.divepics {
    display: flex;
    justify-content: space-around;
}

.photos {
    display: flex;

}

img {
    width: 50%;
    height: auto;
 
}

.img5 {flex:0.9840;}
.img6 {flex:1.3347;}
