body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #021196;
    background-color: #f5f5f5;
}

header {
    background-image: url("images/ocean2.jpeg");
    /*background-repeat: no-repeat;*/
    background-position: center;*/
    background-size: contain;
    /*padding-top: 0.25em;*/
  
    
}

    header h1 {
        color: #f5f5f5;
        text-align: center;
        font-size: 5rem;
        padding-bottom: 0.5Rem;
    }

h2, p, h3 {
    text-align: center;
    text-emphasis-style: bold;
}

.reverse {
    background-color: #2183ad;;
    color: #f5f5f5;
}
a {
    text-align: center;
    padding: 0.5em;
    color: #000a63;
    font-size: 1.5rem;
}


.divepics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photos {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.divepics img {
  width: 100%;
  height: auto;
}



.photos img {
  width: 75%;
  height: auto;
}

.testimonial h1 {
    font-size: 2.5rem;
    color: #2183ad;
}

.testimonial p {
    color: #2183ad;
    text-align: center;
    font-size: 1.5em;
}

.moredivepics {
  display: flex;
  justify-content: space-around;
  margin: 0 4em;
}

.moredivepics img {
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 640px) {

  .divepics, .moredivepics {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  .divepics, .moredivepics {
    flex-flow: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (max-width: 320px) {

  .divepics, .moredivepics {
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}
